{% extends 'base.html' %}
{% load static %}
{% block head_title %}Прима офицальный сайт главная страничка {% endblock %}
{% block content %}
<body>

  <!--Main layout-->

  <!--Carousel Wrapper-->
  <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">
        <div class="view">

          <!--Video source-->
          <video class="video-intro" autoplay loop muted>
            <source src="https://mdbootstrap.com/img/video/city.mp4" type="video/mp4">
          </video>

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>Лучший перевозчик в мире!</strong>
              </h1>

              <p>
                <strong>Множество довльных клиентов</strong>
              </p>

              <p class="mb-4 d-none d-md-block">
                <strong>Попробуй и оцень сам качество нашего сервиса! </strong>
              </p>

              <a href="#12" class="pulse btn btn-outline-white btn-lg">НАЖИМАЙ
                <i class="fas fa-angle-double-down ml-2"></i>
              </a>
            </div>
            <!-- Content -->
          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/First slide-->

    </div>
    <!--/.Slides-->

  </div>
  <!--/.Carousel Wrapper-->


  <main>
  <div class="container-sm">



          <!--Section: Magazine v.1-->
          <section class="wow fadeIn">

            <!--Section heading-->
            <h2 id="12" class="h1 text-center my-5 font-weight-bold">Чем мы занимаемся?</h2>

            <!--Grid row-->
            <div class="row justify-content-center">
                        <!--Grid column-->

            <!--Grid column-->
            <a href="/transport">
            <div class="col-lg-4 col-md-12" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/32.jpg'); background-repeat: no-repeat; background-size:cover;height: 1200px;">
                <div style="height:450px;"></div>
                    <!-- Mask & flexbox options-->
                <div class="mask  d-flex justify-content-center align-items-center">

                  <!-- Content -->
                  <div class="container">

                    <div class="row wow fadeIn">

                      <!--Grid column-->
                      <div class="col-md-12 mb-4 text-center text-md-left z-depth-4 " style="opacity: 0.7;background-color: white;">
                          <a href="/transport" class="light-blue-text">
                    <h1>
                      <i class="fas fa-plane"></i>
                      <strong> Перевозки</strong>
                    </h1>
                  </a>
                  <p>
                    <strong>
                      <i class="far fa-clock"></i> 20/08/2020</strong>
                  </p>
                     <p> Занимаемся ремонтом и обслуживанием техники. Автомойка от "Прима" - качественное обслуживание по привлекательной цене в Ярославле!
                </p>
                        </div>
                    <!--Excerpt-->

                    </div>
                    <!--Grid row-->

                  </div>
                  <!-- Content -->

                </div>
                <!-- Mask & flexbox options-->



              </div>
            <!--Grid column-->
            </a>
            <!--Grid column-->
            <!--Grid column--><div class="col-lg-4 col-md-12">
            <a href="/servicese">
            <div class="col-lg-12 col-md-12" style="background-image: url('{% static 'adrian.jpg' %}'); background-repeat: no-repeat; background-size:cover;height: 1200px;">
                <div style="height:350px;"></div>
                    <!-- Mask & flexbox options-->
                <div class="mask  d-flex justify-content-center align-items-center">

                  <!-- Content -->
                  <div class="container">

                    <div class="row wow fadeIn">

                      <!--Grid column-->
                      <div class="col-md-12 mb-4 text-center text-md-left z-depth-4 " style="opacity: 0.9;background-color: white;">
                          <a href="/servicese" class="light-blue-text">
                            <h1>
                             <i class="fas fa-screwdriver"></i>
                              <strong>Ремонт и обслуживание</strong>
                            </h1>
                          </a>
                          <p>
                            <strong>
                              <i class="far fa-clock"></i> 20/08/2020</strong>
                          </p>
                             <h4> <strong> ремонтом и обслуживанием техники. Автомойка от "Прима"
                                 - качественное обслуживание по привлекательной цене в Ярославле!</strong>
                        </h4>
                        </div>
                    <!--Excerpt-->

                    </div>
                    <!--Grid row-->

                  </div>
                  <!-- Content -->

                </div>
                <!-- Mask & flexbox options-->



              </div>
            <!--Grid column-->
            </a>
                </div>
              <!--Grid column-->
            <div class="col-lg-4 col-md-12">

                <!--Excerpt-->
                <div class="news-data">
                  <a href="/" class="light-blue-text">
                    <h1>
                  <i class="fas fa-tree"></i>
                      <strong>Пилка</strong>
                    </h1>
                  </a>
                  <p>
                    <strong>
                      <i class="far fa-clock"></i> 20/08/2020</strong>
                  </p>
                     <p> Занимаемся ремонтом и обслуживанием техники. Автомойка от "Прима" - качественное обслуживание по привлекательной цене в Ярославле!
                </p>
                </div>


                <!--/Featured news-->

                <!--Image-->
                <div  class="overlay rounded z-depth-2 mb-3 zoom" style="width:100%;">
                  <a href="/" >
                    <img src="{% static 'cuters_num_1.jpg' %}" class="img-fluid" alt="Sample post image" style="width:100%;height: 1000px;">
                  </a>
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

              </div>
            <!--Grid column-->

            </div>
            <!--Grid row-->

          </section>
          <!--/Section: Magazine v.1-->


        </div>

    <hr class="my-5">
   <div class="container-sm">
      <!--Section: Main info-->
      <section class="mt-5 wow fadeIn">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-6 mb-4">

            <img src="{% static 'm21.jpg' %}" class="img-fluid "
              alt="">

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 mb-4">

            <!-- Main heading -->
            <h3 class="h3 mb-3">Мы больше чем просто перевозчик</h3>
            <p>Мы <strong>Прима</strong> являемся лидером перевозок в своем классе и делаем все возможное, для вашего комфорта.</p>
            <p>Самые лучшие автобусы, оснащенные по последнему слову техники и максимально демократичные цены,
              позволили завоевать любовь наших клиентов.</p>
            <!-- Main heading -->

            <hr>

            <p>
              Более <strong>4000+</strong> перевозок,
              <strong>60+</strong> Услуг автомойки и ремонта в месяц,
              <strong>74</strong> Пилочных, утилизционных работ и многое другое.
            </p>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Main info-->
      <hr class="my-5">
    </div>

  <div class="container">

       <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-6 col-md-12 px-4">

            <!--First row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-code fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Bootstrap 4</h5>
                <p class="grey-text">Thanks to MDB you can take advantage of all feature of newest Bootstrap 4.</p>
              </div>
            </div>
            <!--/First row-->

            <div style="height:30px"></div>

            <!--Second row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-book fa-2x blue-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Detailed documentation</h5>
                <p class="grey-text">We give you detailed user-friendly documentation at your disposal. It will help
                  you to implement your ideas
                  easily.
                </p>
              </div>
            </div>
            <!--/Second row-->

            <div style="height:30px"></div>

            <!--Third row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-graduation-cap fa-2x cyan-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Lots of tutorials</h5>
                <p class="grey-text">We care about the development of our users. We have prepared numerous tutorials,
                  which allow you to learn
                  how to use MDB as well as other technologies.</p>
              </div>
            </div>
            <!--/Third row-->

          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 col-md-12">


            <!--First row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-code fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Bootstrap 4</h5>
                <p class="grey-text">Thanks to MDB you can take advantage of all feature of newest Bootstrap 4.</p>
              </div>
            </div>
            <!--/First row-->

            <div style="height:30px"></div>

            <!--Second row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-book fa-2x blue-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Detailed documentation</h5>
                <p class="grey-text">We give you detailed user-friendly documentation at your disposal. It will help
                  you to implement your ideas
                  easily.
                </p>
              </div>
            </div>
            <!--/Second row-->

            <div style="height:30px"></div>

            <!--Third row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-graduation-cap fa-2x cyan-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Lots of tutorials</h5>
                <p class="grey-text">We care about the development of our users. We have prepared numerous tutorials,
                  which allow you to learn
                  how to use MDB as well as other technologies.</p>
              </div>
            </div>
            <!--/Third row-->

        </div>
        <!--/Grid row-->
</div>


      <hr class="my-5">

    </div>

   <div class="container" >


            <!--Section: Post-->
            <section class="mt-4">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-8 mb-4">

                    <!--Card-->
                    <div class="card mb-4 wow fadeIn"  style="height:400px;">

                             <!--Card content-->
                 <div class="card-body text-center">

                      <h1 class="font-weight-bold">Наши клиенты</h1>


                <!-- Logo carousel -->
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="1800">
                  <div class="carousel-inner">
                    <!-- First slide -->
                    <div class="carousel-item active">
                      <!--Grid row-->
                      <div class="row">
                        {% for custom in view.get_customer %}
                        <!--First column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                          <img src="media/{{ custom.poster }}" class="img-fluid px-4" alt="Nike - logo" style="max-height: 40px">
                        </div>
                        <!--/First column-->
                        {% endfor %}
                      </div>
                      <!--/Grid row-->
                    </div>
                    <!-- First slide -->

                    <!-- Second slide -->
                    <div class="carousel-item">
                      <!--Grid row-->
                      <div class="row">

                        <!--First column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                          <img src="https://mdbootstrap.com/img/logo/brands/airbus.png" class="img-fluid px-4" alt="Airbus - logo" style="max-height: 40px">
                        </div>
                        <!--/First column-->

                        <!--Second column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                          <img src="https://mdbootstrap.com/img/logo/brands/yahoo.png" class="img-fluid px-4" alt="Yahoo - logo" style="max-height: 40px">
                        </div>
                        <!--/Second column-->

                        <!--Third column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                          <img src="https://mdbootstrap.com/img/logo/brands/deloitte.png" class="img-fluid px-4" alt="Deloitte - logo" style="max-height: 40px">
                        </div>
                        <!--/Third column-->

                        <!--Fourth column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                          <img src="https://mdbootstrap.com/img/logo/brands/ge.png" class="img-fluid px-4" alt="GE - logo" style="max-height: 40px">
                        </div>
                        <!--/Fourth column-->

                      </div>
                      <!--/Grid row-->
                    </div>
                    <!-- Second slide -->


                  </div>
                </div>
                <!-- Logo carousel -->
            </div>


                        </div>
                    <!--/.Card-->


                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-4 mb-4">


                        <!--Card-->
                        <div class="card mb-4 wow fadeIn">

                            <div class="card-header">Новости сайта!</div>

                            <!--Card content-->
                            <div class="card-body">

                                <ul class="list-unstyled">
                                  {% for news in view.get_last_news %}
                                    <li class="media">
                                        <img class="d-flex mr-3" src="media/{{ news.image }}" alt="Generic placeholder image" style="height:100px;width:100px;">
                                        <div class="media-body">
                                            <a href="">
                                                <h5 class="mt-0 mb-1 font-weight-bold">{{ news.title }}</h5>
                                            </a>
                                            {{ news.description }} (...)<span class="badge danger-color">{{ news.pub_date }}</span>
                                        </div>
                                    </li>
                              {% endfor %}
                                </ul>

                            </div>

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </section>
            <!--Section: Post-->


       </div>


  </main>
  <!--Main layout-->

</body>


{% endblock content %}